# INTEGERS

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

print (10)
print(type(10))

In [3]:
print(4.2)
print (type(4.2))

print (4.)

print (.2)

print (.4e7)

print (4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# strings

In [6]:
print("hactive8")
print(type("hactive8"))

hactive8
<class 'str'>

sebuah string dalam python dapat berisi karakter sebanyak yang kalian inginkan. satu-satunya batasan adalah resource memori kalian. string juga boleh kosong

In [7]:
print('')

In [8]:
print("this string contains a single quote(')character.")
print('this string contains a double quote(")character.')

this string contains a single quote(')character.
this string contains a double quote(")character.

# BOOLEAN TYPE, BOOLEAN CONTXT, AND "TRUTHINESS"

In [12]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

# VARIABLE ASSIGNMENT

In [13]:
n = 300

In [14]:
print(n)

300

In [15]:
n = 1000
print(n)

n

1000

1000

In [16]:
a = b = c = 300
print(a, b, c,)

300 300 300

# VARIABLE TYPES IN PYTHON

In [17]:
var = 23.5
print(var)

var = "now i'm a string"
print(var)

23.5
now i'm a string

# VARIABLE NAMES

In [19]:
name = "hactive8"
age = 54
has_laptops = True
print(name, age, has_laptops)

hactive8 54 True

nama variable tidak boleh dimulai dengan angka:

In [22]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [26]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

# OPERATOR AND EXPRESSIONS IN PYTHON

In [27]:
a = 10
b = 20
a + b

30

In [28]:
a = 10
b = 20
a + b - 5

25

# ARITHMETIC OPERATORS

In [29]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

# the result o standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

In [30]:
10 / 5

2.0

# COMPARISON OPERATORS

In [31]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

# STRING MANIPULATION

# + OPERATOR

In [32]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('hactive8' + 'PTP')

foobar
foobarbaz
hactive8PTP

# * operators

In [33]:
s = 'foo.'

s * 4

'foo.foo.foo.foo.'

# in operators

In [34]:
s = 'foo'

print(s in 'that food for us')

print(s in 'that good for us')

True
False

In [35]:
# case convrsion
s = 'hackTIV8'

# capitalize
print(s.capitalize())

#lower
print(s.lower())

#swapcase
print(s.title())

#title
print(s.title())

#uppercase
print(s.upper())

Hacktiv8
hacktiv8
Hacktiv8
Hacktiv8
HACKTIV8

# PYTHON LISTS

In [36]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

# lists are ordered

In [37]:
a = ['foo', 'bar', 'baz','qux']
b = ['baz', 'qux', 'bar','foo']

a == b

False

# List Elements Can Be Accessed by Index

In [38]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

foo
corge

In [39]:
print(a[-1])
print(a[-6])

corge
foo

In [40]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

# the concatenation (+) and replicatio (*) operators

In [41]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

# len(), min(), max()

In [42]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# MODIFYING A SINGLE LIST VALUE

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge' ]

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

# A list item can be deleted with the del command

In [44]:
del a[3]

In [45]:
print(a)

['foo', 'bar', 10, 'quux', 20]

# MODIFIYING MULTIPLE LIST VALUES

In [47]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# PYTHON TUPLES

In [49]:
t = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(t)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [50]:
print(t[0])

print(t[-1])

foo
corge

# packing and unpacking

In [51]:
(s1, s, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

# PYTHON DICTIONARY

In [58]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesote': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners',
}

# accessing Dictionary Values

In [57]:
print(MLB_team['Minnesote'])
print(MLB_team['Colorado'])

Twins
Rockies

In [59]:
MLB_team['kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesote': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesote': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [60]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesote': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesote': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [64]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesote': 'Twins',
 'Milwaukee': 'Brewers',
 'kansas City': 'Royals'}

# Building a Dictionary Incrementally

In [70]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname']= 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog', 'Fido', 'cat', 'Sox'}

In [81]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [78]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [88]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [101]:
# built-in methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# line continuation

In [105]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >=18 and person2_age <= 65) or (person3_age >= 18 and person3_age<= 65) 
someone_is_of_working_age

True

In [106]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 62)
)

someone_is_of_working_age

True